<h2> Ovo je za cenovnik: {{id_cen}} </h2>
<br>
<div> Ovde su mu stavke: </div><br>
<table class="table table-hover table-bordered results">
  <thead>
    <tr>
      <th class="col-md-4 col-xs-4">ID Stavke Cenovnika</th>
      <th class="col-md-4 col-xs-4">ID Cenovnika</th>
      <th class="col-md-4 col-xs-4">ID Proizvoda</th>
      <th class="col-md-4 col-xs-4">Cena</th>
    </tr>
  </thead>
  <tbody
       <tr ng-repeat="sc in stavkeCenovnika | filter:pretraga">
                <td> {{sc.id_stavke_cenovnika}} </td>
                <td>  {{sc.id_cenovnika}}  </td>
                <td>  {{sc.id_proizvoda}}  </td>
                <td> {{sc.cena}} </td>
               </tr>
  </tbody>
</table <br>
<form role="form" method="post" >
       <div class="form-group" >
          <label>Procenat:</label>
          <input type="text" id="procenat" ng-model="procenat" class="form-control" required> </select>
       </div>
      <div data-ng-hide="errorMessage == ''" class="alert alert-danger">
        {{errorMessage}}
      </div>
      <button type="submit" class="btn btn-primary" ng-click="potvrdi()">Sacuvaj</button>
    </form>