<h2 align="center"> Kreiranje fakture </h2>
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    </br>
    <div class="form-group pull-left"> 
    </br></br></br>
    <form role="form" method="post" >
        <div class="form-group" >
          <label>ID Poslovnog Partnera:</label>
          <select id="partn" ng-model="novaFaktura.id_poslovnog_partnera" ng-options="part.id_poslovnog_partnera for part in poslovniPartneri" 
                 class="form-control" required> </select>
       </div>
       <div class="form-group" >
          <label>ID Preduzeca:</label>
          <select id="preduzece" ng-model="novaFaktura.id_preduzeca" ng-options="preduzece.id_preduzeca for preduzece in preduzeca" 
                 class="form-control" required> </select>
       </div>
       <div class="form-group" >
          <label>ID Poslovne Godine:</label>
          <select id="godina" ng-model="novaFaktura.id_godine" ng-options="godina.id_godine for godina in poslovneGodine" 
                 class="form-control" required> </select>
       </div>
       <div class="form-group">
          <label for="name">Broj Fakture:</label>
          <input type="text" class="form-control" ng-model="novaFaktura.broj_fakture">
       </div>
       <div class="form-group">
          <label for="name">Datum Fakture:</label>
          <input type="text" class="form-control" ng-model="novaFaktura.datum_fakture">
       </div>
       <div class="form-group">
          <label for="name">Datum Valute:</label>
          <input type="text" class="form-control" ng-model="novaFaktura.datum_valute">
       </div>  


       <div class="form-group pull-left" >

<span class="counter pull-right"></span>
<table class="table table-hover table-bordered results">
  <thead>
    <tr>
      <th class="col-md-4 col-xs-4">ID Proizvoda</th>
      <th class="col-md-4 col-xs-4">Kolicina</th>
    </tr>
  </thead>
  <tbody>
       <tr ng-repeat="sf in stavkeFakture | filter:pretraga">
                <td> {{sf.id_proizvoda.id_proizvoda}} </td>
                <td> {{sf.kolicina}} </td>
       </tr>
  </tbody>
</table>
  <h2 align="center"> Kreiranje stavke fakture </h2>
    </br>
    <div class="form-group pull-left"> </div>
    </br></br></br>
    <form role="form" method="post" >
       <div class="form-group" >
          <label>ID Proizvoda:</label>
          <select id="proizvod" ng-model="novaStavkaFakture.id_proizvoda" ng-options="proizvod.id_proizvoda for proizvod in proizvodi" 
                 class="form-control" required> </select>
       </div>
       <div class="form-group" >
          <label>Kolicina:</label>
          <input type="text" id="proizvod" ng-model="novaStavkaFakture.kolicina" class="form-control" required> </select>
       </div>
      <div data-ng-hide="errorMessageStavka == ''" class="alert alert-danger">
        {{errorMessageStavka}}
      </div>
    </form>
</div>

  <a> <button class="btn btn-primary" ng-click="dodajStavku()">Dodaj stavku fakture </button> </a>
  <br/> <br />
      <div data-ng-hide="errorMessage == ''" class="alert alert-danger">
          {{errorMessage}}
      </div>
      <button type="submit" class="btn btn-primary" ng-click="kreirajFakturu()">Submit</button>
    </form>
  </div>
</div>
</div>
