<h2 align="center"> Tabelarni prikaz faktura </h2>
<div class="form-group pull-left" >
   <a href="#/nova_faktura"> <button class="btn btn-primary">Dodaj fakturu </button> </a>
</div>
<div class="form-group pull-right">
    <input type="text" class="search form-control" placeholder="Pretraga" ng-model="pretraga">
</div>
<span class="counter pull-right"></span>
<table class="table table-hover table-bordered results">
  <thead>
    <tr>
      <th>ID Fakture</th>
      <th >ID Poslovnog Partnera</th>
      <th >ID Preduzeca</th>
      <th >ID Poslovne Godine</th>
      <th >Broj Fakture</th>
      <th >Datum Fakture</th>
      <th >Datum Valute</th>
      <th >Ukupan Rabat</th>
      <th >Ukupan Iznos Bez Pdv-a</th>
      <th >Ukupan Pdv</th>
      <th >Ukupno Za Placanje</th>
      <th >Status Fakture</th>
      <th>Izmeni</th>
      <th>Izbrisi</th>
    </tr>
  </thead>
  <tbody
       <tr ng-repeat="f in fakture | filter:pretraga">
                <td> {{f.id_fakture}} </td>
                <td>  {{f.id_poslovnog_partnera}} </td>
                <td>  {{f.id_preduzeca}} </td>
                <td>  {{f.id_godine}} </td>
                <td> {{f.broj_fakture}} </td>
                <td> {{f.datum_fakture}} </td>
                <td> {{f.datum_valute}} </td>
                <td> {{f.ukupan_rabat}} </td>
                <td> {{f.ukupan_iznos_bez_pdv_a}} </td>
                <td> {{f.ukupan_pdv}} </td>
                <td> {{f.ukupno_za_placanje}} </td>
                <td> {{f.status_fakture}} </td>
                <td> <button class="image-button" ng-click="izmeniFakturu(f.id_fakture)"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQaI85dzViGxVMSy96-spZPbTMWpkPHnet07ePkNA-wD6EDns9TBg" class="icon"></button></td>
                <td> <button class="image-button" ng-click="izbrisiFakturu(f.id_fakture)"> <img src="http://icons.iconarchive.com/icons/hopstarter/rounded-square/256/Button-Delete-icon.png" class="icon"></button></td>
                 </tr>
  </tbody>
</table>
