<!DOCTYPE html>
<html>
<head lang="en">
     <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
    <h2 align="center"> Kreiranje cenovnika </h2> 
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
  </br>
<div class="form-group pull-left">
</div></br></br></br>
    <form role="form" method="post">

  <div class="form-group">
    <label for="name">Datum vazenja:</label>
    <input type="date" class="form-control" required ng-model="noviCenovnik.datum_vazena">
  </div>
  <div>
    <!-- Trigger the modal with a button --> 
  <h3> {{selektovanoPreduzece}} 
      <small class="small">
        <button align="right" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Odaberi preduzece</button>
        </small>
   </h3>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Odaberi preduzece</h4>
        </div>
        <div class="modal-body">
          <!-- Ovde tabela za odabir drzave -->

            <div class="form-group pull-right">
    <input type="text" class="search form-control" placeholder="Pretraga" ng-model="pretraga">
<span class="counter pull-right"></span>
<table class="table table-hover table-bordered results">
  <thead>
    <tr>
         <th>Odaberi</th>
      <th>ID Preduzeca</th>
      <th class="col-md-4 col-xs-4">Naziv preduzeca</th>
    </tr>
    <tr class="warning no-result">
      <td colspan="4"><i class="fa fa-warning"></i> No result</td>
    </tr>
  </thead>
  <tbody>
            <tr ng-repeat="p in preduzeca">
             <td><input type="radio" id="{{p.id_preduzeca}}" name="selectedDrzava" value="{{p.id_preduzeca}}"></td>
     <td> {{p.id_preduzeca}} </td><td>{{p.nazivpreduzeca}} </td>
            </tr>
  </tbody>
</table>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" id="btnCl">Izaberi</button>
        </div>
      </div>

    </div>
  </div>
  </div>
 <div data-ng-hide="errorMessage == ''" class="alert alert-danger">
        {{errorMessage}} </div>
    
  <button type="submit" class="btn btn-primary">Sacuvaj</button>
    </div>
      </div>
</form>
</div>
</div>
</body>
</html>
