<h2 align="center"> Izmena stope pdv-a </h2>
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <div class="form-group pull-left"> </div>
    </br></br><br>
    <form role="form" method="post">
        <div class="form-group" >
           <label for="id">ID Stope Pdva-a:</label>
           <input type="text" class="form-control" value="{{stopaPdva.id_stope}}" disabled required>
        </div>
        <div class="form-group" >
           <label>ID Pdv-a:</label>
           <select ng-model="stopaPdva.id_pdv_a" ng-options="pdv.id_pdv_a as pdv.naziv_pdv_a for pdv in pdvovi"
                  class="form-control" required> </select>
        </div>
        <div class="form-group">
           <label for="name">Stopa:</label>
           <input type="text" class="form-control" ng-model="stopaPdva.stopa">
       </div>
       <div class="form-group">
           <label for="name">Datum Vazenja:</label>
           <input type="datetime" class="form-control" ng-model="stopaPdva.datum_vazenja">
       </div>
       <div data-ng-hide="errorMessage == ''" class="alert alert-danger">
        {{errorMessage}}
      </div>
       <button type="submit" class="btn btn-primary" ng-click="sacuvaj()">Sacuvaj</button>
     </form>
  </div>
</div>
