<h2 align="center"> Tabelarni prikaz stopa pdv-a </h2>
<div class="form-group pull-left" >
   <a href="#/nova_stopa_pdva"> <button class="btn btn-primary">Dodaj stopu pdv-a </button> </a>
</div>
<div class="form-group pull-right">
    <input type="text" class="search form-control" placeholder="Pretraga" ng-model="pretraga">
</div>
<span class="counter pull-right"></span>
<table class="table table-hover table-bordered results">
  <thead>
    <tr>
      <th>ID Stope Pdv-a</th>
      <th >ID Pdv-a</th>
      <th >Stopa</th>
      <th >Datum Vazenja</th>
      <th>Izmeni</th>
      <th>Izbrisi</th>
    </tr>
  </thead>
  <tbody
       <tr ng-repeat="s in stopePdva | filter:pretraga">
                <td>  {{s.id_stope}} </td>
                <td> {{s.id_pdv_a}} </td>
                <td> {{s.stopa}} </td>
                <td> {{s.datum_vazenja}} </td>
                <td> <button class="image-button" ng-click="izmeniStopuPdva(s.id_stope)"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQaI85dzViGxVMSy96-spZPbTMWpkPHnet07ePkNA-wD6EDns9TBg" class="icon"></button></td>
                <td> <button class="image-button" ng-click="izbrisiStopuPdva(s.id_stope)"> <img src="http://icons.iconarchive.com/icons/hopstarter/rounded-square/256/Button-Delete-icon.png" class="icon"></button></td>
            </tr>
  </tbody>
</table>
