<h2 align="center"> Tabelarni prikaz stavki narudzbenice </h2>
<div class="form-group pull-left" >
   <a href="#/nova_stavka_narudzbenice"> <button class="btn btn-primary">Dodaj stavku narudzbenice </button> </a>
</div>
<div class="form-group pull-right">
    <input type="text" class="search form-control" placeholder="Pretraga" ng-model="pretraga">
</div>
<span class="counter pull-right"></span>
<table class="table table-hover table-bordered results">
  <thead>
    <tr>
      <th >ID Stavke Narudzbenice</th>
      <th >ID Proizvoda</th>
      <th >ID Narudzbenice</th>
      <th>Kolicina</th>
      <th >Rabat</th>
      <th >Jedinicna Cena</th>
      <th >Stopa Pdv-a</th>
      <th>Osnovica</th>
      <th >Iznos Pdva-a</th>
      <th >Ukupan Iznos</th>
      <th>Izmeni</th>
      <th>Izbrisi</th>
    </tr>
  </thead>
  <tbody
       <tr ng-repeat="sn in stavkeNarudzbenice | filter:pretraga">
                <td> {{sn.id_stavke_narudzbenice}} </td>
                <td> {{sn.id_proizvoda}} </td>
                <td> {{sn.id_narudzbenice}} </td>
                <td> {{sn.kolicina}} </td>
                <td> {{sn.rabat}} </td>
                <td> {{sn.jedinicna_cena}} </td>
                <td> {{sn.stopa_pdv_a}} </td>
                <td> {{sn.osnovica}} </td>
                <td> {{sn.iznos_pdv_a}} </td>
                <td> {{sn.ukupan_iznos}} </td>
                <td> <button class="image-button" ng-click="izmeniStavkuNarudzbenice(sn.id_stavke_narudzbenice)"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQaI85dzViGxVMSy96-spZPbTMWpkPHnet07ePkNA-wD6EDns9TBg" class="icon"></button></td>
                <td> <button class="image-button" ng-click="izbrisiStavkuNarudzbenice(sn.id_stavke_narudzbenice)"> <img src="http://icons.iconarchive.com/icons/hopstarter/rounded-square/256/Button-Delete-icon.png" class="icon"></button></td>
       </tr>
  </tbody>
</table>
